/* Only for the deployed digital garden project */

/* 引入字体 */
@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono&family=Red+Hat+Mono&display=swap');

body {
    --font-chinese: '霞鹜文楷 屏幕阅读版';
}

/* 取消代码块阴影 */
code[class*=language-], pre[class*=language-] {
  text-shadow: 0 0px;
}

/* 侧栏设置 */
/* 侧栏宽度修改 */
.filetree-sidebar {
    width: 270px;
}
/* 侧栏标题修改 */
.filetree-sidebar h1 {
    /* !TODO: important 是坏文明 */
    font-size: 20px !important; 
    font-family: var(--font-chinese);
}

/* 搜索框设置 */
.search-button {
    min-width: 190px;
}