/* Only for the deployed digital garden project */

/* 引入字体 */
@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono&family=Red+Hat+Mono&display=swap');

body {
    --font-chinese: '霞鹜文楷 屏幕阅读版';
}

/* 取消代码块阴影 */
code[class*=language-], pre[class*=language-] {
  text-shadow: 0 0px;
}

/* 侧栏设置 */
/* 侧栏宽度修改 */
.filetree-sidebar {
    width: 270px;
}
/* 侧栏标题修改 */
.filetree-sidebar h1 {
    /* !TODO: important 是坏文明 */
    font-size: 20px !important; 
    font-family: var(--font-chinese);
}

/* 搜索框设置 */
.search-button {
    min-width: 190px;
}

/* 标题自动标号 */
h1 {
  counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h3 {
  counter-reset: h4;
}

h2:before {
  counter-increment: h2;
  content: counter(h2);
  margin-right: 0.8rem;
}
h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3);
  margin-right: 0.8rem;
}
h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4);
  margin-right: 0.8rem;
}
