/* Mermaid */
/* svg[id=mermaid][width][height][viewBox] {
  max-width: 95%;
  max-height: 95%;
} */
div.mermaid {
  margin-left: 0 !important;
  text-align: center;
  resize:both;
  overflow:none;
  margin-bottom: 2px;
  position:relative;
  max-height: 100%;
  max-width: 100%;
}
div.mermaid svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  padding: 3px;
  display: block;
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-s);
}
div.mermaid::after {
  content:'';
  display:block;
  width:10px;
  height:10px;
  position:absolute;
  right:0;
  bottom:0;
}
