
body {
    --tab-text-color-focused-active-current: var(--text-accent);
}

/* 定制标签栏 */

body:not(.is-fullscreen) :not(.mod-stacked) div.workspace-tabs.mod-top.mod-top-left-space .workspace-tab-header-container {
    padding-left: 80px !important;
}
body :not(.mod-stacked).workspace-tab-header-container {
    --tab-outline-width: 0px !important;
    background-color: var(--background-primary);
    display: flex !important;
    justify-content:center !important;
    padding-right: 0px !important;
}
body div.workspace-tabs.mod-stacked .workspace-tab-header-container {
    background-color: var(--background-primary) !important;
    border-bottom: 1px solid var(--color-base-30) !important;
}
body .is-left-sidedock-open div.workspace-tabs.mod-stacked .workspace-tab-header-container {
    display: none !important;
}
body :not(.is-left-sidedock-open) div.workspace-tabs.mod-stacked .workspace-tab-header-container {
    display: flex !important;
}

.workspace .mod-root .workspace-tab-header-spacer {
    flex-shrink: 0 !important;
    flex-grow: 0 !important;
}
body .mod-root .workspace-tab-header-container-inner {
    margin-top: 6px;
    padding-bottom: 3px;
}
body .mod-root div.workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    box-shadow: none !important;
    --tab-radius-active: 6px;
    box-shadow: var(--shadow-s);
    margin: 0px 2px 0px 2px;
    border: 1px solid var(--color-base-30);
    padding: 1px 0px 0px 0px;
}
body .theme-dark .mod-root .workspace-tab-header.is-active,
body .workspace-split.mod-root .workspace-tab-header.is-active::before, 
body .workspace-split.mod-root .workspace-tab-header.is-active::after {
    box-shadow: none;
}

div .workspace-tab-header-inner-title {
    text-align: center;
}
div .workspace-tab-header-inner::after {
    display: none;
}
body .workspace-tab-header-new-tab {
    padding-top: var(--size-4-1);
}

/* 选中标签页效果 */

body div.workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
    border: 1px solid var(--text-accent);
    background-color: var(--color-base-20) !important;
}

/* 隐藏顶栏按钮和叉号 */
div.sidebar-toggle-button.mod-left > div.clickable-icon,
div.workspace-tab-header-tab-list > span.clickable-icon,
div.sidebar-toggle-button.mod-right,
div.view-actions > a.clickable-icon.view-action,
div.view-header-nav-buttons > .clickable-icon,
div.workspace-tab-header-inner-close-button {
    display: none !important;
}


/* 隐藏侧边窗 */
body .workspace-ribbon {
    opacity: 0;
} 
.workspace-ribbon.mod-left {
    display: none !important;
    width: 0px !important;
    border: none !important;
    transition: 0.25s all !important;
}

/* 定制侧边栏 */
.workspace-tabs .workspace-leaf {
    background-color: var(--background-primary);
}


/* 隐藏下方状态栏 */
div.status-bar {
    /* visibility:hidden; */
}

/* 隐藏滚动条 */

::-webkit-scrollbar{
    display: none;
}

/* 定制界面尺寸 */
body .cm-editor .cm-scroller,
body div.markdown-reading-view .markdown-rendered {
    padding-top: 10px !important;
}

/* 定制 Metadata */
div .metadata-properties-heading {
    display: none !important;
}
div .metadata-add-button .text-icon-button {
    margin-top: 0em !important;
}

body div .metadata-container {
    font-size: var(--font-smaller);
}
body h1 {
    margin-top: 24px !important;
}

/* Canvas 定制 */

body > div > div > div.cm-scroller.cm-vimMode > div.cm-sizer > div > div.cm-gutters {
    display: none !important;
}