
/* 定制标签栏 */

body:not(.is-fullscreen) :not(.mod-stacked) div.workspace-tabs.mod-top .workspace-tab-header-container {
    padding-left: 80px !important;
}
body :not(.mod-stacked).workspace-tab-header-container {
    --tab-outline-width: 0px !important;
    background-color: var(--background-primary);
    display: flex !important;
    justify-content:center !important;
    padding-right: 0px !important;
}
body div.workspace-tabs.mod-stacked .workspace-tab-header-container {
    background-color: var(--background-primary) !important;
    border-bottom: 1px solid var(--color-base-30) !important;
}
body div.workspace-tabs.mod-stacked .workspace-tab-header-container {
    display: none !important;
}

.workspace .mod-root .workspace-tab-header-spacer {
    flex-shrink: 0 !important;
    flex-grow: 0 !important;
}
body .mod-root .workspace-tab-header-container-inner {
    margin-top: 6px;
    padding-bottom: 3px;
}
body .mod-root .workspace-tab-header {
    box-shadow: none !important;
    --tab-radius-active: 6px;
    box-shadow: var(--shadow-s);
    margin: 0px 2px 0px 2px;
    border: 1px solid var(--color-base-30);
    padding: 1px 0px 0px 0px;
}
body .theme-dark .mod-root .workspace-tab-header.is-active,
body .workspace-split.mod-root .workspace-tab-header.is-active::before, 
body .workspace-split.mod-root .workspace-tab-header.is-active::after {
    box-shadow: none;
}

div .workspace-tab-header-inner-title {
    text-align: center;
}
div .workspace-tab-header-inner::after {
    display: none;
}
body .workspace-tab-header-new-tab {
    padding-top: var(--size-4-1);
}

/* 选中标签页效果 */
body .workspace-tab-header.is-active {
    border: 1px solid var(--text-accent);
    background-color: var(--color-base-20) !important;
}
div.workspace-tab-header.is-active .workspace-tab-header-inner-title {
    color: var(--text-accent) !important;
    font-weight: bolder !important;
}

/* 隐藏顶栏按钮和叉号 */
div.clickable-icon,
span.clickable-icon,
div.sidebar-toggle-button.mod-right,
div.workspace-tab-header-inner-close-button {
    display: none !important;
}


/* 隐藏侧边窗 */
body .workspace-ribbon {
    opacity: 0;
} 
.workspace-ribbon.mod-left {
    display: none !important;
    width: 0px !important;
    border: none !important;
    transition: 0.25s all !important;
}

/* 定制侧边栏 */
.workspace-tabs .workspace-leaf {
    background-color: var(--background-primary);
}


/* 隐藏下方状态栏 */
button.clickable-icon, 
a.clickable-icon,
div.status-bar {
  visibility:hidden;
}

/* 隐藏滚动条 */
::-webkit-scrollbar{width:5px;background-color:transparent}
::-webkit-scrollbar-track{background-color:transparent}
::-webkit-scrollbar-thumb{background-clip:padding-box;border:3px solid transparent;background-color:transparent;border-width:3px 4px 3px 3px;min-height:45px}

/* 定制界面尺寸 */
body .cm-scroller,
body .markdown-rendered {
    padding-top: 10px !important;
}

/* 定制 Metadata */
div .metadata-properties-heading {
    display: none !important;
}
div .metadata-add-button .text-icon-button {
    margin-top: 0em !important;
}
body .metadata-container {
    margin-bottom: 0px !important;
}
body div .metadata-container {
    font-size: var(--font-smaller);
}
body h1 {
    margin-top: 24px !important;
}