/* YAML */
div.frontmatter-section {
  display: none !important;
}
.frontmatter-section.mod-aliases,
.frontmatter-section.mod-tags {
  display: flex !important;
}
.frontmatter-container-header {
  display: none !important;
}